/* Login Screen Styles */

.keypad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px; /* FIXED: Shift removed */
    width: 100%;
}

.cancel-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    visibility: hidden;
}
